<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>522987428134-f8lkt3rai45nnpf2nhs90c51unt81mm7.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.522987428134-f8lkt3rai45nnpf2nhs90c51unt81mm7</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>522987428134-0jhteqnar5to6ht41fhpgp5kjv2emo0l.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyBX8XjmaGyakRzXdsWR5Ro-MH4wgBIg4gs</string>
    <key>GCM_SENDER_ID</key>
    <string>522987428134</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.mighty.taxirider2</string>
    <key>PROJECT_ID</key>
    <string>taxi-booking-810bf</string>
    <key>STORAGE_BUCKET</key>
    <string>taxi-booking-810bf.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:522987428134:ios:6bf7481de39f97c5e809e7</string>
</dict>
</plist>
